**/.idea/
**/cmake-build-debug/
**/__pycache__/
**/bin/
**/out/
**/target/
**/Surreact-APose/
**/bodym-dataset/
**/docs/RevealJS/.git
**/docs/RevealJS/.github
*.mp4
*.avi
*.tmp
*.pyc
*.o
*.zip
# LaTeX files
*.aux
*.log
*.synctex.gz
