[submodule "pytorch-CycleGAN-and-pix2pix"]
	path = pytorch-CycleGAN-and-pix2pix
	url = https://github.com/junyanz/pytorch-CycleGAN-and-pix2pix
[submodule "bodym-dataset"]
	path = bodym-dataset
	url = https://dagshub.com/DagsHub-Datasets/bodym-dataset.git
